<div fxLayout="row" fxLayoutAlign="center">
  <form [formGroup]="control" class="form" fxLayout="column" fxLayoutGap="1em">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <button mat-flat-button color="warn" type="reset" (click)="clear()">
        Cancel
      </button>
      <button mat-flat-button color="primary" [disabled]="control.invalid">
        Save
      </button>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1em">
      <mat-form-field fxFlex="1 1 75%" fxFlex.lt-sm="1 1 100%">
        <input placeholder="Name" matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field fxFlex="1 1 20%" fxFlex.lt-sm="1 1 100%">
        <input placeholder="Amount" matInput formControlName="amount" />
      </mat-form-field>
    </div>
  </form>
</div>
