::ng-deep .mat-card-header-text {
  width: 100%;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
}

mat-card-title {
  margin-bottom: 0 !important;
}

.recipe-card {
  width: 100%;
  max-width: 500px;
}

.list-header {
  background-size: cover;
}
